<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="67aeb6">  <td>18/10/09 12:20:47</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:Learnings.TC003@4e9ba398]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/09 12:20:47</td>   <td>110</td> <td>&nbsp;</td><td title="&gt;&gt;TC003.setData()[pri:0, instance:Learnings.TC003@4e9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/10/09 12:20:47</td>   <td>120</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:Learnings.TC003@4e9ba398]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/10/09 12:20:47</td>   <td>130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:Learnings.TC003@4e9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/10/09 12:20:52</td>   <td>5045</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003.AMSLogin()[pri:0, instance:Learnings.TC003@4e9ba398]">AMSLogin</td> 
  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/10/09 12:21:00</td>   <td>12743</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:Learnings.TC003@4e9ba398]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
<tr bgcolor="67aeb6">  <td>18/10/09 12:21:00</td>   <td>12850</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:Learnings.TC003@4e9ba398]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232306490</td>   <td></td> </tr>
</table>
